<html>
    <head><title>Outputs</title></head>
    <body>
    <h1>Output for routes:</h1><p>Route 1 for Segment 1:<br>
                                    CO2 Emissions: 223.63 kg<br>
                                    Road_time: 23.48 hrs<br>
                                    Segment_distance: 1030.99<br></p><br><br><p>Route 2 for Segment 1:<br>
                                    CO2 Emissions: 257.15 kg<br>
                                    Road_time: 25.44 hrs<br>
                                    Segment_distance: 1030.99<br></p><br><br><p>Route 1 for Segment 1:<br>
                                    CO2 Emissions: 218.18 kg<br>
                                    Road_time: 22.91 hrs<br>
                                    Segment_distance: 1030.99<br></p><br><br><p>Route 2 for Segment 1:<br>
                                    CO2 Emissions: 253.19 kg<br>
                                    Road_time: 24.44 hrs<br>
                                    Segment_distance: 1030.99<br></p><br><br></body></html>